{% extends "base.html" %}

{% block content %}
<div class="layout">
    <div id="map" class="map"></div>
    <aside id="panel" class="panel">
        <div class="panel-placeholder">
            <h2>Select a country</h2>
            <p>Hover or click on a country to see mood details.</p>
        </div>
    </aside>
</div>
<script src="/static/js/moods.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap"></script>
{% endblock %}
